<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.silencedaemon.seta">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoseta_no_invert"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoseta_no_invert"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.silencedaemon.seta.Inventario.InvEscalera" />
        <activity android:name="com.silencedaemon.seta.Inventario.GestionInventario" />
        <activity android:name="com.silencedaemon.seta.Servicios.Mensajeria_Activity"
            android:theme="@style/AppTheme2"/>
        <activity
            android:name="com.silencedaemon.seta.Servicios.NewSolicitud"
            android:screenOrientation="fullSensor"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.silencedaemon.seta.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity android:name="com.silencedaemon.seta.Rutas.ListOfService" />
        <activity android:name="com.silencedaemon.seta.Consultas.ServiceInformation" />
        <activity android:name="com.silencedaemon.seta.GestionServicios.ServiceStateSecond"
            android:theme="@style/AppTheme2"/>
        <activity android:name="com.silencedaemon.seta.GestionServicios.ServiceStateMain" />
        <activity android:name="com.silencedaemon.seta.Rutas.GenerarRuta" />
        <activity android:name="com.silencedaemon.seta.MainMenus.MainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.silencedaemon.seta.Antiguos.ProgramEscaleraMain" />
        <activity android:name="com.silencedaemon.seta.Servicios.ProgramEscaleraSecond"
            android:theme="@style/AppTheme2"/>
        <activity android:name="com.silencedaemon.seta.Consultas.ConsultarEscalera" />
    </application>

</manifest>