<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examplecodes.learnapplication">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoseta_no_invert"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoseta_no_invert"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.examplecodes.Seta.Inventario.InvEscalera"></activity>
        <activity android:name="com.examplecodes.Seta.Inventario.GestionInventario" />
        <activity android:name="com.examplecodes.Seta.Servicios.Mensajeria_Activity"
            android:theme="@style/AppTheme2"/>
        <activity
            android:name="com.examplecodes.Seta.Servicios.NewSolicitud"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.examplecodes.Seta.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.examplecodes.Seta.Rutas.ListOfService" />
        <activity android:name="com.examplecodes.Seta.Consultas.ServiceInformation" />
        <activity android:name="com.examplecodes.Seta.GestionServicios.ServiceStateSecond"
            android:theme="@style/AppTheme2"/>
        <activity android:name="com.examplecodes.Seta.GestionServicios.ServiceStateMain" />
        <activity android:name="com.examplecodes.Seta.Rutas.GenerarRuta" />
        <activity android:name="com.examplecodes.Seta.MainMenus.MainMenuActivity" />
        <activity android:name="com.examplecodes.Seta.Antiguos.ProgramEscaleraMain" />
        <activity android:name="com.examplecodes.Seta.Servicios.ProgramEscaleraSecond"
            android:theme="@style/AppTheme2"/>
        <activity android:name="com.examplecodes.Seta.Consultas.ConsultarEscalera" />
    </application>

</manifest>